version: '3.8'

services:
  react-app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
            - "3029:3029"
    environment:
      - NODE_ENV=development
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
    labels:
      - subdomain=gb.workbrink.com
      - websiteName=goal-backend
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3029"]
      interval: 30s
      timeout: 10s
      retries: 3

